@model Shop.WebUI.ViewModel.ProductListModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Telefon</li>
        </ul>
    </div>
    <div class="col-md-9">
        <partial name="_slider" />
        <div class="row mt-3">
            @foreach (var item in Model.Products)
            {
                <partial name="_product" for="@item" />
            }
        </div>
    </div>
</div>
